<div class="wrapper">

  <%= render "header.html" %>
  <%= render "sidebar.html" %>

  <%= render "content_wrapper.html", %{
    :view_module => @view_module,
    :view_template => @view_template,
    assigns => assigns
    }
  %>


  <%= render "footer.html" %>

  <%= render "control_sidebar.html" %>

</div>
<!-- ./wrapper -->
